.gameScreen {
  border: solid black;
  margin: auto;
  position: relative;
}

.paddle {
  background-color: black;
  border-radius: 10px;
  position: absolute;
}

.ball {
  background-color: blue;
  border-radius: 50%;
  position: absolute;
}
