.gameScreen {
  border: solid black;
  margin: auto;
  position: relative;
}

.paddle {
  background-color: black;
  border-radius: 10px;
  position: absolute;
}

.ball {
  background-color: blue;
  border-radius: 50%;
  position: absolute;
}

.startButton {
  color: white;
  background-color: rgb(43, 25, 25);
  border-radius: 10px;
  height: 30px;
  text-align: center;
  position: absolute;
}
